@model MvcMusicStore.Models.Album
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    <h3>
        @Html.DisplayFor(model => model.Title)
    </h3>
</p>
<p>
    <br />
    <img src="@Html.DisplayFor(model => model.AlbumArtUrl)" />
    <br />
    <br />

    Artist: @Html.DisplayFor(model => model.Artist.Name)
    <br />
    Price: @Html.DisplayFor(model => model.Price)
    <br />
    <br />
    <button style="padding:7px;background-color:lightgray; ">
        @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, null)
    </button>
</p>

