@model MvcMusicStore.Models.Album
@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<img src="~/Content/Images/logo.png" width="120" />
<h1>ASP.NET MVC MUSIC STORE</h1>
<hr />
<h2>Details</h2>

<p>
    <h3>
        @Html.DisplayFor(model => model.Title)
    </h3>
</p>
<p>
    <br />
    <img src="@Html.DisplayFor(model => model.AlbumArtUrl)" />
    <br />
    <br />

    Artist: @Html.DisplayFor(model => model.Artist.Name)
    <br />
    Price: @Html.DisplayFor(model => model.Price)
    <br />
    <br />
    <button style="padding:7px;background-color:lightgray; ">
        @Html.ActionLink("Add to Cart", "AddToCart", new { id = Model.AlbumId })
    </button>
</p>

